@use 'reset';
@use 'fonts';

$color-bg: #000;
$color-font: #ccc;
$color-hl: #fff;
$color-primary: #0080ff;
$color-code: #2b303b;
$color-muted: #888;
$max-width: 960px;

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;

  color: $color-font;
  background-color: $color-bg;
}

// spacing
hr,
h1, h2, h3, h4,
blockquote,
pre,
footer,
:not(li) > ul,
p {
  margin-block-start: 2rem;
}

// headers
h1, h2, h3, h4, h5, h6 {
  color: $color-hl;
}

// links
a, a:visited {
  color: $color-primary;
  text-decoration: underline;
}
a:hover {
  color: $color-primary;
  text-shadow:
    0 0 2px $color-primary,
    0 0 5px $color-primary;
}
h1, h2, h3, .toc {
  a, a:visited {
    color: inherit;
  }
  a:hover {
    color: $color-hl;
  }
}

// highlights
strong, em {
  color: $color-hl;
}
time {
  font-weight: bold;
}

// definition lists
dt {
  font-weight: bold;
  color: $color-hl;
  margin-block-start: 2rem;
}
dd > p:first-child {
  margin-block-start: 1rem;
}

hr {
  border: none;
  border-bottom: 1px solid;
  border-color: lighten($color-bg, 20%);
}

.container {
  max-width: $max-width;
  margin: 0px auto;
}

.brand {
  a {
    text-decoration: none;
    color: $color-font;
  }
}

header,
h1, h2, h3, h4, h5,
p, ul {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: $max-width) {
  header,
  h1, h2, h3, h4, h5,
  p, ul {
    margin-left: 0px;
    margin-right: 0px;
  }

  .post {
    .toc, pre {
      border-radius: 0.5rem;
    }
  }
}

.read-more {
  text-align: right;
}

.metadata, .metadata a {
  color: $color-muted;
  margin-block-end: 1rem;
}
// inline code
:not(pre) code {
  background-color: $color-code;
  border-radius: 0.2rem;
  padding: 0.05rem 0.2rem;
  overflow-wrap: break-word;
}

.post {
  .toc {
    background: lighten($color-bg, 10%);
    padding: 1rem;
    margin-block-start: 1rem;

    h3 {
      margin-block-start: 0px;
    }

    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }
    ul li ul {
      padding-left: 1rem;
    }
  }

  // Quotes
  blockquote {
    border-left: 1px solid #888;
    padding-left: 1rem;

    p {
      margin-block-start: 0.5rem !important;
    }
  }

  // Syntax Highlighted code blocks
  pre {
    padding: 0.5rem 1rem;
    overflow: auto;

    table td {
      padding: 0;
    }
    // Line number cell
    table td:nth-of-type(1) {
      text-align: center;
      user-select: none;
    }

    // highlights
    mark {
      display: block;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }
  }
}

.post-list {
  list-style: none;
  padding: 0px;

  time {
    color: $color-muted;
  }
}

.page-footer {
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  text-align: center;
  font-size: 0.8em;
  p {
    margin-block-start: 4rem;
  }
}
.page-footer, .page-footer a {
  color: $color-muted;
}

h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
h3 {
  font-size: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
h4 {
  font-size: 1.1em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

.tag-cloud {
  ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
      display: block;
      padding: 0.1rem 0.25rem;
    }
  }

  // code {
  //   display: inline-block;
  //   word-break: keep-all;
  //   margin: 0.4rem;
  // }
}
