{% extends "base.html" %}

{% block meta_content %}
  {{ macros::meta_tags(
    title=taxonomy.name | capitalize,
    description="All "~taxonomy.name,
  ) }}
{% endblock meta_content %}

{% block content %}
<h1 class="title">All {{ taxonomy.name }}</h1>
<div class="tag-cloud">
<ul class="post-list">
  {% for term in terms %}
  {% set num_posts = term.pages | length %}
  <li>
    <code><a href="{{ term.permalink | safe }}">#{{ term.name }}</a>
    ({{ num_posts }} post{{ num_posts | pluralize }})</code>
  </li>
  {% endfor %}
</ul>
</div>
{% endblock content %}
