@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
  --color-brand: #0087ff;
  --color-text: #ccc;
  --color-highlight: #fff;
  --color-muted: #888;
  --color-background: #232323;
}

html,
code {
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  /* Avoid browsers resizing text when switching between screen orientations */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: var(--color-background);
  color: var(--color-text);
  font-size: 14pt;
  line-height: 1.5;
}

a {
  color: var(--color-brand);
  text-decoration: none;
}
a:hover {
  color: var(--color-brand);
  text-shadow: 0 0 2px var(--color-brand), 0 0 5px var(--color-brand);
}

strong,
b,
em,
i {
  color: var(--color-highlight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-highlight);
}

*:not(pre) > code {
  background-color: #202020;
  border: 1px solid #151515;
  color: var(--color-highlight);
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.site-header {
  margin-bottom: 4rem;
}
.site-title {
  color: var(--color-brand);
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.site-subtitle {
  font-size: 1.4rem;
  color: var(--color-muted);
}

.nowrap {
  white-space: nowrap;
}

.contact {
  list-style: none;
  padding-left: 0;
}
.contact li {
  padding: 0.4rem;
}
.contact .fab {
  color: var(--color-brand);
}

.posts {
  list-style-type: none;
  padding-left: 0;
}
.posts time {
  color: var(--color-muted);
}
.post h1 {
  font-size: 1.5rem;
}
.post h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.post pre {
  border-radius: 0.5rem;
  padding: 0.5rem;
  overflow-x: scroll;
}
@media only screen and (min-width: 600px) {
  .post pre {
    overflow-x: hidden;
  }
}

.meta,
.tag {
  color: var(--color-muted);
}

.site-footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 4rem 0;
  color: var(--color-muted);
}
.site-footer .fas {
  color: var(--color-muted);
}
.site-footer a {
  color: var(--color-muted);
  text-decoration: underline;
}
