{% extends "base.html" %}

{% block meta_content %}
  {{ macros::meta_tags(
    title=page.title,
    description=page.description | default(value=config.description),
    type="article",
  ) }}
  <meta property="article:published_time" content="{{ page.date }}">
  <meta property="article:updated_time" content="{{ page.updated | default(value=page.date) }}">
  <meta property="article:author" content="{{ config.author }}">
  {% for tag in page.taxonomies.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
{% endblock meta_content %}

{% block content %}
<article class="post">
  <h1 class="title">{{ page.title }}</h1>
  {% include "partials/post-meta.html" %}

  {% if page.toc | length > 1 %}
    <div class="toc">
      <ul>
      <h3>Contents</h3>
      {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
                <li>
                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {{ page.content | safe }}
</article>
<hr>

<p>
{% if page.lower %}<a href="{{ page.lower.permalink | safe }}">Next post: "{{ page.lower.title }}"</a><br>{% endif %}
{% if page.higher %}<a href="{{ page.higher.permalink | safe }}">Previous post: "{{ page.higher.title }}"</a><br>{% endif %}
<a href="{{ get_url(path='@/posts/_index.md') }}">List all Blog posts</a>
</p>
{% endblock content %}
