---
name: Build and deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: build & push Docker image
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: mhutter/mhu.dev
          tag_with_ref: true
          tag_with_sha: true
      - name: update Kubernetes deployment
        uses: steebchen/kubectl@master
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: 'set image deployment/blog blog=docker.io/mhutter/mhu.dev:sha-"$(echo $GITHUB_SHA | cut -c 1-7)"'
